<!-- filepath: product-presentation-app/product-presentation-app/src/components/footer.html -->
<footer>
    <div class="footer-content">
        <p>&copy; 2025 Your Company Name. All rights reserved.</p>
        <p>Developed by Your Name</p>
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
            <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
        </div>
    </div>
</footer>