<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Menu</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Início</a></li>
            <li><a href="../quem-somos.html">Quem Somos</a></li>
            <li><a href="../portfolio.html">Portfólio de Produtos</a></li>
            <li><a href="../contato.html">Contato</a></li>
            <li><a href="../trabalhe-conosco.html">Trabalhe Conosco</a></li>
        </ul>
    </nav>
</body>
</html>